body {
  background-color: #2F4F4F;
  color: #F5F5F5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* --- STICKY HEADER --- */
header {
  background-color: #3E5F5F;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  display: block;
  height: 80px;
}

a {
  color: #FFC857;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* center lists on all pages */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}

input,
textarea,
button {
  margin: 5px 0;
  padding: 5px;
}

button {
  cursor: pointer;
}
